<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detection Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="form-container">
        <div class="form-header">
            <span class="icon-lightbulb">💡</span> 
            <h2>Check if the email is SPAM</h2>
        </div>
        <form action="/predict" method="post" class="mb-3">
            <div class="form-group">
                <label for="email_text">Enter Email Text:</label>
                <textarea class="form-control" id="email_text" name="email_text" rows="10" placeholder="Paste the email text here..."></textarea>
            </div>
                <input type="submit" class="form-footer" value="Submit →">
        </form>
       
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
